[Desktop Entry]
Name=NovSu Wallpaper
Name[en_GB]=NovSu Wallpaper
Name[ru]=NovSu Wallpaper


X-KDE-PluginInfo-Name=NovSu Wallpaper
X-KDE-PluginInfo-Author=Alexey Semenov
